<template name="loginform">
  <h1>Loginform</h1>
<div class="tab-content">
<form id= "form2" action="#">
<div class="form-group">
<label for="email">Email:</label>
<input type="email" id="email" name="email" placeholder="Email:">
</div>

<div class="form-group">
<label for="pass">Password:</label>
<input type="password" id="pass" name="pass" placeholder="enter pasword">
<input type="submit" value="login">
<a href="/main"><input type="submit" value="Signin"></a>


</div>
</form>
</div>
</template>
